*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:  16px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
}
h2 {
    font-weight: lighter   ;
    font-size: 40px;
}
.loginh2{
    padding-bottom: 30px;
}
body{
    overflow-x: hidden;
}
main{
    background: linear-gradient(to right, #4b53ff, #9e63ff);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
main .row{
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: 65vw;
    height: 60vh;
    display: flex;
    text-align: center;
    align-items: center;
}
.col1{
    background-color: white;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
}
.col2{
    background: linear-gradient(to right, #7633e5, #178ee0);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    width:  100%;
}
.col2 h2, p{
    color: white;
}
.col2 h2{
    padding-bottom: 30px;
}
.row>div{
    flex-direction: column;
    justify-content: center;
}
.username, .password{
    font-size: 14px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
input{
    border: none;
    border-bottom: 1px solid grey;
    padding-left: 20px;
    margin-bottom: 15px;
    max-width: 150px;
}

.username::before{
    position: absolute;
    content:"\2709";
    font-size: 14px;
}
.password::before{
    position: absolute;
    content:"\01F512";
    font-size: 14px;
}
.login{
    border-radius:15px;
    border: 1px;
    font-size: 12px;
    height: 25px;
    width:80px;
    color:white;
    background: linear-gradient(to right, #2667cc,#6e38d5);
}
p{
    font-size:14px;
}
.loginbut{
    display: flex;
    justify-content: center;
}
.morebutton{
    display: flex;
    justify-content: center;
}
.morebutt{
    border-radius: 15px;
    border: 2px solid #6e39d3;
    background-color: transparent;
    width: 90px;
    height: 30px;

    display: flex;
    justify-content: center;
}
a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
@media(max-width: 576px){
    .col1{

        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        height: 50%;
    }
    .loginh2{
        padding:0;
        font-size: medium;
    }
    .col2{
        height: 50%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;

    }
    .col2 h2{
        font-size: medium;
    }
    .col2 p{
        font-size: x-small;
    }



}