*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:  10px;
    font-family: Arial, sans-serif;
}
body{
    overflow-x: hidden;
}
main{
    background: linear-gradient(to right, #4b53ff, #9e63ff);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.container{
    padding-top:15vh;
}
main .row{
    /*border: 1px solid black;*/
    /*border-radius: 5px;*/
    width: 65vw;
    height: 60vh;
    display: flex;
    text-align: center;
    align-items: center;
    vertical-align: center;




}
.col1{
    background-color: white;
    height: 100%;
    /*border-radius: 15px;*/
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.col2{
    /*background-size: cover;*/
    background: linear-gradient(to right, #7633e5, #178ee0);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    width:  100%;
}